
 <table>
         <thead>
            <tr>
              
                <th>version</th>
                <th>percentage</th>
                <th>created</th>
                <th>modified</th>
                <th>Action           
                 </th>
                
            </tr>
        </thead>
        <tbody ng-repeat="item in items">
            <tr  ng-class-odd="'odd'" ng-class-even="'even'"  class="main-row" ng-click="toggleDetail($index)">
              
                <td>{{item.version}}</td>
                <td>{{item.percentage}}</td>
                <td>{{item.created}}</td>
                <td>{{item.modified}}</td>
              <td> <div class='center'>
                  <button class='btn btn-glow' ng-click="editItems(item)">Edit</button>
                </div></td>

            </tr>

	       <tr  class="extra-row bortr" ng-show="activePosition == $index">

            

                <td colspan="5" class="backtable">
                <div>
                <p class="ctag">keepalive : {{item.config.keepalive}} || enableRequests : {{item.config.enableRequests}}</p>
                <p>
                    <div class='center' style="position: absolute; right: 4%;">
                  <button class='btn btn-info' data-toggle="modal" data-target="#deviceModal">Add</button>
                </div>
                </p>
                
                </div>
                
                  <p class="ptag">Device Params</p>
                    <table class="table table-condensed table-bordered">
                        <thead>
                        
                            <tr>
                                <th style="width:15%;">Params</th>
                                <th style="width:15%;" ng-repeat="deviceConfigs in item.config.deviceconfig">{{deviceConfigs.deviceclass}}</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="deviceCfgKey in getKeys(item.config.deviceconfig[0],'deviceclass') track by $index">
                                <td>{{deviceCfgKey}}</td>
                                  <td style="width:15%;" ng-repeat="deviceConfigs in item.config.deviceconfig">{{deviceConfigs[deviceCfgKey]}}</td> 
                              
                            </tr>
                                                       
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr ng-repeat-end	 class="extra-row bortr" ng-show="activePosition == $index">

            

                <td colspan="5" class="backtable">
                  <p class="ptag">Network Params</p>

                    <div class='center' style="margin-left: 88%;">
                  <button class='btn btn-info' data-toggle="modal" data-target="#networkModal">Add</button>
                </div>
              
                    <table class="table table-condensed table-bordered">
                        <thead>
                        
                        <tr>
                            <th style="width:15%;">Params</th>
                             <th style="width:15%;" ng-repeat="networkConfigs in item.config.networkconfig">{{networkConfigs.networkclass}}</th>
                          
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="networkConfigKey in getKeys(item.config.networkconfig[0],'networkclass') track by $index">
                          <td>{{networkConfigKey}}</td>
                             <td style="width:15%;" ng-repeat="networkConfigs in item.config.networkconfig">{{networkConfigs[networkConfigKey]}}</td>
                          
                        </tr>
                            
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>   
<div class="container">
   <!--Device Modal -->
  <div class="modal fade" id="deviceModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Device Configuration</h4>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Parameter</label>
      <div class="col-sm-10">
       <input type="text" class="form-control"  >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >2011</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control"  >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >2012</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control"  >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >2013</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control"  >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >2014</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" >
      </div>
    </div>
   <div class="form-group">
      <label class="control-label col-sm-2" >Default</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" >
      </div>
    </div>

  </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

  <!-- network Modal -->

<div class="container">
   <!-- Modal -->
  <div class="modal fade" id="networkModal" role="dialog">
  <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Network Configuration</h4>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Parameter</label>
      <div class="col-sm-10">
       <input type="text" class="form-control"  >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >2011</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control"  >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >2012</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control"  >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >2013</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control"  >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >2014</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" >
      </div>
    </div>
   <div class="form-group">
      <label class="control-label col-sm-2" >Default</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" >
      </div>
    </div>

  </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
        </div>
      </div>
      
    </div>
  </div></div>